html body {
  font-family: sans-serif;
}
html body main nav#navgrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
html body main nav article.category {
  width: 20em;
  padding: 2em;
  margin: 1em;
  background-color: #eee;
  border: 1px solid grey;
}
html body main nav article.category section {
  float: right;
}
html body main nav article.category section ul {
  padding-left: 20px;
}
html body main nav article.category .bgicon {
  height: 8em;
  width: 8em;
  background-color: #293952;
  border-radius: 50em;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
html body main nav article.category .bgicon .icon {
  max-width: 55%;
  vertical-align: middle;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
html body main nav article.category .bgicon .icon:hover {
  max-width: 70%;
}
