$primaryColor: #293952;
$backgroundColor: #eee;

html {
  body {
    font-family: sans-serif;
    main {
      nav {
        &#navgrid {
          display: flex;//Til at sætte kasser på linje + wrap
        }

        article {
          &.category {//Hver kasse med en kategori
            width: 20%;
            padding: 2em;
            margin: 1em;
            background-color: $backgroundColor;
            border: 1px solid grey;
            text-align: center;
            transition: 0.2s; //Overgang til anden farve ved hover

            &:hover {
              background-color: white; //Baggrundsfarve på .category kassen

            .icon { //.icon = descendant of .category
              transform: scale(1.3,1.3);//Forstør ikon ved hover
              }
            }//End .category hover

            table.center {//Centrering af bgicon
              margin: 0 auto;
            }

            .bgicon {//Blå cirkel bag kat. ikoner
              height: 8em;
              width: 8em;
              background-color: $primaryColor;
              border-radius: 50em; //Gør div'en til en cirkel
              display: table-cell;
              text-align: center;
              vertical-align: middle;

              .icon {
                transition: 0.2s; //Animeret overgang ved hover
                width: 55%;
                vertical-align: middle;
              }
            }
          }
        }
      }
    }
  }
}
