$primaryColor: #293952;
$backgroundColor: #eee;

html {
  body {
    font-family: sans-serif;
    main {
      nav {
        &#navgrid {
          display: flex;//Til at sætte kasser på linje + wrap
        }

        article {
          &.category {
            width: 20em;
            padding: 2em;
            margin: 1em;
            background-color: $backgroundColor;
            border: 1px solid grey;

            .bgicon {
              height: 8em;
              width: 8em;
              background-color: $primaryColor;
              border-radius: 50em; //Gør div'en til en cirkel
              display: table-cell;
              text-align: center;
              vertical-align: middle;

              .icon {
                max-width: 55%;
                transition: 0.2s; //Animeret overgang ved hover
                vertical-align: middle;
                &:hover {
                  max-width: 70%;//Forstør ved hover
                }
              }
            }
          }
        }
      }
    }
  }
}
